@import url('https://fonts.googleapis.com/css?family=Bitter');

h1 {
    font-family: 'Bitter', sans-serif;
    font-size: 20px ;
}

section{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

